# NEXT_PUBLIC_SITE_URL=https://example.com
# NEXT_PUBLIC_BASE_PATH=

# GitHub Pages example
# DEPLOY_SERVICE=github-pages

# Cloudflare Pages example
# DEPLOY_SERVICE=cloudflare-pages
# CLOUDFLARE_PROJECT_NAME=your-project-name
# DEPLOY_ENV=production
# CLOUDFLARE_BRANCH=main
